backup/*
!backup/README.md

logs/*
!logs/README.md

services/mariadb/data/*
!services/mariadb/data//README.md

services/mariadb/lib/*
!services/mariadb/lib//README.md

services/nginx/data/*
!services/nginx/data/README.md

services/nginx/letsencrypt/*
!services/nginx/letsencrypt/README.md

permissions.sh