[mysqld]
bind-address = 0.0.0.0

# Основные настройки
max_connections = 200
thread_cache_size = 50

# Буферы для MyISAM (если используете)
key_buffer_size = 128M

# Буферы на соединение
sort_buffer_size = 256K
read_buffer_size = 128K
read_rnd_buffer_size = 256K
join_buffer_size = 256K
tmp_table_size = 16M
max_heap_table_size = 16M

# InnoDB
innodb_buffer_pool_size = 3072M
innodb_buffer_pool_instances = 3
innodb_log_file_size = 512M
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT

# Остальные настройки
max_allowed_packet = 32M
thread_stack = 192K
myisam_recover_options = BACKUP
performance_schema = ON
skip-name-resolve = 1
table_open_cache = 2000

# Кэши запросов
query_cache_size = 0
query_cache_type = 0

# Логи
general_log = 0
slow_query_log = ON
long_query_time = 1
log_queries_not_using_indexes = 1

# Бинарные логи
expire_logs_days = 5
max_binlog_size = 100M

# InnoDB дополнительные
innodb_file_per_table = 1
transaction-isolation = READ-COMMITTED
innodb_strict_mode = 0

character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci
