[mysqld]
#bind-address            = 0.0.0.0

#server_id               = 1
#user                    = mysql
#log_bin                 = master-bin
#binlog-format           = mixed
#log_slave_updates       = on

general_log             = 1
general_log_file        = /var/log/mysql/mysql.log
log_error               = /var/log/mysql/error.log

key_buffer_size         = 512M
read_buffer_size        = 512K
read_rnd_buffer_size    = 4M
sort_buffer_size        = 10M
max_allowed_packet      = 32M
thread_stack            = 192K
thread_cache_size       = 16
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam_recover_options  = BACKUP
max_connections         = 2000
#table_cache            = 64
#thread_concurrency     = 10
tmp_table_size          = 40M
max_heap_table_size     = 32M
performance_schema      = ON
skip-name-resolve       = 1
table_open_cache        = 8192

#
# * Query Cache Configuration
#
#query_cache_limit       = 2M
#query_cache_size        = 128M
#query_cache_type        = 1

query_cache_size        = 0
query_cache_type        = 0
query_cache_limit       = 1M

slow_query_log          = ON
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 0.5
log_slow_rate_limit     = 1000
log_slow_verbosity      = query_plan
log-queries-not-using-indexes = 1

expire_logs_days        = 5
max_binlog_size         = 100M

#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
innodb_file_per_table           = 1
innodb_buffer_pool_size         = 2048M # внимание на параметр! установить примерно в 2 раза меньше объема оперативной памяти сервера
innodb_buffer_pool_instances    = 2 # увеличивать на 1 каждый GB innodb_buffer_pool_size
innodb_log_buffer_size          = 6M
innodb_log_file_size            = 512M # Add new log file size - размер файла лога innodb должен составлять 25% от размера буфера
innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT
innodb_log_files_in_group       = 3
transaction-isolation           = READ-COMMITTED

# Disable strict mode
innodb_strict_mode      = 0


#
# * Character sets
#
# MySQL/MariaDB default is Latin1, but in Debian we rather default to the full
# utf8 4-byte character set. See also client.cnf
#
character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci
